@model FrontEnd.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar Usuario";
}

<div class="container">
    <h1>Registrarse</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Apellido" class="control-label"></label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Cedula" class="control-label">Cédula</label>
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Correo" class="control-label"></label>
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Contrasena" class="control-label">Contraseña</label>
                            <input id="idContrasena" asp-for="Contrasena" class="form-control" type="password" />
                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Confirmar contraseña</label>
                            <input id="idConfirmarContrasena" class="form-control" type="password" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NumeroTarjeta" class="control-label">Número de tarjeta</label>
                            <input asp-for="NumeroTarjeta" class="form-control" />
                            <span asp-validation-for="NumeroTarjeta" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Cvv" class="control-label">CVV</label>
                            <input asp-for="Cvv" class="form-control" />
                            <span asp-validation-for="Cvv" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="FechaExpiracion" class="control-label">Fecha de expiración</label>
                            <input asp-for="FechaExpiracion" class="form-control" />
                            <span asp-validation-for="FechaExpiracion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NombreTitular" class="control-label">Nombre del titular</label>
                            <input asp-for="NombreTitular" class="form-control" />
                            <span asp-validation-for="NombreTitular" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
