@model FrontEnd.Models.RolViewModel

@{
    ViewData["Title"] = "Editar rol";
}

<h1>Editar rol</h1>

<h4>RolViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label">Id</label>
                <input asp-for="IdRol" class="form-control" readonly/>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreRol" class="control-label">Nombre</label>
                <input asp-for="NombreRol" class="form-control" />
                <span asp-validation-for="NombreRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
